@model List<ClothingDTO>
@inject SignInManager<WebIdentityUser> signInManager;


@if (Model != null)
{




    <div class="container">
        <label>Der blev fundet @Model.Count resultater</label>
    </div>
    <form method="post">
        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <h3 class="ClothingHeader">@item.Title</h3>
                    <div onmouseover="ShowImageButton(@item.ClothingId)" onmouseout="HideImageButton(@item.ClothingId)">
                        <img src="@item.Image.Url" alt="@item.Image.AltText" class="ClothingImage" id="ClothingImage @item.ClothingId" onmouseover="AddEffect(@item.ClothingId)" onmouseout="RemoveEffect(@item.ClothingId)">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <button asp-page="./Index" formmethod="post" asp-page-handler="add" class="ClothingButton" id="ClothingButton @item.ClothingId" name="clothId" value="@item.ClothingId" style="visibility:hidden">Læg i kurv</button>
                        }
                        else
                        {
                            <button asp-area="Identity" asp-page="/Account/Login" formmethod="get" class="ClothingButton" id="ClothingButton @item.ClothingId" style="visibility:hidden">Læg i kurv</button>
                        }
                        
                    </div>
                    <label class="ClothingInfo" style="font-size:20px; text-align:center">Pris: @string.Format("{0:C}", item.Price)</label>
                </div>

            }

        </div>
    </form>


}
