@page
@*@model List<OrderLineDTO>*@
@model Web.Pages.Checkout.CheckoutIndexModel
@inject UserManager<WebIdentityUser> UserManager;
@using Web.Extentions
@{
    ViewData["Title"] = "Checkout";
}

<h1>Checkout</h1>
@if (Model != null)
{


<h6>Ved at klikke på "Køb" frasiger du dig alle muligheder for at få penge retur! Derfor bedes du kigge dine varer igennem først!</h6>

    <form method="post">
        <input type="hidden" name="UserId" value="@UserManager.ConvertToWebIdentityUser(User).Id" />
        <input type="hidden" name="UserEmail" value="@UserManager.ConvertToWebIdentityUser(User).Email" />
        <div class="row">

            @foreach (var item in Model.OrderLineDTOs)
            {
                <div class="col-md-4">
                    <h3 class="ClothingHeader">@item.Clothing.Title</h3>

                    <img src="@item.Clothing.Image.Url" alt="@item.Clothing.Image.AltText" class="ClothingImage" id="ClothingImage @item.Clothing.ClothingId" onmouseover="AddEffect(@item.Clothing.ClothingId)" onmouseout="RemoveEffect(@item.Clothing.ClothingId)">


                    <label class="ClothingInfo" style="font-size:20px; text-align:center">Pris: @string.Format("{0:C}", item.Clothing.Price) - Antal: @item.Amount</label>
                </div>

            }

        </div>
        <h4>
            Total pris: @string.Format("{0:C}", @Model.OrderLineDTOs.Sum(o => o.Amount * o.Clothing.Price))
        </h4>
        <button type="submit" asp-page-handler="Buy">Køb</button>
        <a href="./index">Fortsæt med at shoppe</a>
    </form>

    @*<partial name="./ShoppingCart/_ShoppingCartIndex" model="@Model.OrderLineDTOs" />*@

    /**/

}
else
{
    <p>Please add an Item to the shopping cart </p>
}


