@page
@model Web.Pages.Orders.OrderIndexModel
@{
    ViewData["Title"] = "OrderIndex";
}

<h1>OrderIndex</h1>

@if (Model != null)
{
    foreach (var order in Model.Orders)
    {
        <div class="jumbotron Ordertron" >
            <h3>Købsdato: @order.Date.ToString("dddd, dd. MMMM yyyy HH:MM")</h3>

            <div class="row">

                @foreach (var item in order.OrderLines)
                {
                    string imageUrl = $"../{@item.Clothing.Image.Url}";
                    <div class="col-md-4">
                        <h3 class="ClothingHeader">@item.Clothing.Title</h3>

                        <img src="@imageUrl" alt="@item.Clothing.Image.AltText" class="ClothingImage" id="ClothingImage @item.Clothing.ClothingId" onmouseover="AddEffect(@item.Clothing.ClothingId)" onmouseout="RemoveEffect(@item.Clothing.ClothingId)">


                        <label class="ClothingInfo" style="font-size:20px; text-align:center">Pris: @string.Format("{0:C}", item.Clothing.Price) - Antal: @item.Amount</label>
                    </div>

                }

            </div>
            <h4>
                Total pris: @string.Format("{0:C}", order.OrderLines.Sum(o => o.Amount * o.Clothing.Price))
            </h4>
        </div>
    }

}
